In [1]:
import numpy as np 
import pandas as pd 
import seaborn; seaborn.set()
from sklearn.metrics import mean_squared_error
import matplotlib.pylab as plt
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 15,6
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.stattools import acf, pacf
from statsmodels.tsa.arima_model import ARIMA
from times_series_workflow import *
from clean_data import clean

In [2]:
data=pd.read_csv("data/BTCUSDT.csv")
data.head(5)

,open_time,open,high,low,close,volume,close_time,qav,num_trades,taker_base_vol,taker_quote_vol,ignore
0,1640991600000,46303.98,46467.67,46300.49,46350.44,465.18072,1640993399999,2.158094e+07,13399,211.34079,9.805458e+06,0
1,1640993400000,46350.44,46520.13,46132.04,46216.93,520.81690,1640995199999,2.413883e+07,16156,272.75150,1.264373e+07,0
2,1640995200000,46216.93,46527.26,46208.37,46375.42,706.65682,1640996999999,3.275119e+07,19674,388.44942,1.800036e+07,0
3,1640997000000,46375.42,46731.39,46360.19,46656.13,796.67413,1640998799999,3.712879e+07,18934,417.61594,1.946179e+07,0
4,1640998800000,46656.14,46949.99,46574.06,46815.33,589.50801,1641000599999,2.754998e+07,18930,332.64016,1.554390e+07,0

In [3]:
data=clean(data)

In [4]:
data.head()

,open,close,volume,close_time,qav,num_trades,taker_base_vol,taker_quote_vol
open_time,,,,,,,,
2021-12-31 23:00:00,46303.98,46350.44,465.18072,2021-12-31 23:29:59.999,2.158094e+07,13399,211.34079,9.805458e+06
2021-12-31 23:30:00,46350.44,46216.93,520.81690,2021-12-31 23:59:59.999,2.413883e+07,16156,272.75150,1.264373e+07
2022-01-01 00:00:00,46216.93,46375.42,706.65682,2022-01-01 00:29:59.999,3.275119e+07,19674,388.44942,1.800036e+07
2022-01-01 00:30:00,46375.42,46656.13,796.67413,2022-01-01 00:59:59.999,3.712879e+07,18934,417.61594,1.946179e+07
2022-01-01 01:00:00,46656.14,46815.33,589.50801,2022-01-01 01:29:59.999,2.754998e+07,18930,332.64016,1.554390e+07

### Step 1 - Ensure Stationarity

In [5]:
y=data["close"]

In [13]:
from statsmodels.tsa.stattools import adfuller

print('p-value: ', adfuller(y)[1])

p-value:  0.17973447279496002

In [12]:
# First diff
print('p-value: ', adfuller(y.diff(1).fillna(0))[1])

p-value:  0.0

In [ ]:
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

# Original Series
fig, axes = plt.subplots(2, 2, figsize=(13,10))
axes[0, 0].plot(y); axes[0, 0].set_title('Original Series')
plot_acf(y, auto_ylims=True,ax=axes[0, 1])

# 1st Differencing
axes[1, 0].plot(y.diff()); axes[1, 0].set_title('1st Order Differencing')
plot_acf(y.diff().dropna(), auto_ylims=True,ax=axes[1, 1])